<div class="google-plus-one-wrapper socialize-button-wrapper">
  <!-- Place this tag where you want the +1 button to render. -->
  <div class="g-plusone" data-size="medium" data-annotation="none" data-href="<%= url %>"></div>
</div>
