<div class="fb-like-wrapper">
  <div class="fb-like" data-href="<%= url %>" data-send="false" data-layout="button_count" data-width="100" data-show-faces="true"></div>
</div>

<div class="hatebu-wrapper">
  <a href="http://b.hatena.ne.jp/entry/<%= url %>" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
</div>

<div class="tweet-wrapper" style="width: 100px;">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= url %>" data-lang="ja">ツイート</a>
</div>

<div class="google-plus-one-wrapper">
  <!-- Place this tag where you want the +1 button to render. -->
  <div class="g-plusone" data-href="<%= url %>"></div>
</div>
