<div class="fb-like-wrapper socialize-button-wrapper">
  <div class="fb-like" data-href="<%= url %>" data-send="false" data-layout="button_count" data-width="100" data-show-faces="true"></div>
</div>
